/* eckiges Design
div,
span,
input,
button,
a,
select {
    border-radius: 0 !important;
}*/

body {
    font-size: 16px;
}

.footer-p {
    display: inline-block;
    text-align: center;
    letter-spacing: 0.5px;
}

.footer-p a {
    color: #09aa81;
}

.navbar-brand {
    line-height: 0;
}

.dropdown-menu li {
    cursor: pointer;
}

.large-table {
    overflow-y: scroll;
    display: block;
    height: 40%;
}

.nav-tabs.ip-rankings>li.active>a,
.nav-tabs.ip-rankings>li.active>a:hover,
.nav-tabs.ip-rankings>li.active>a:focus {
    font-size: 19px;
}

.nav.ip-rankings>li:not(.active)>a {
    padding-bottom: 13px;
    padding-top: 13px;
}

.icon-btn {
    padding: 5px !important;
}